.left,
   .right {
       /* top: 50%; */
       float: left;
       /* transform: translateY(125%); */
   }

   .left {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
      background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
       display: inline-block;
       white-space: nowrap;
       width: 50px;
       transition: width .5s;
       height: 100%;
       position:relative;
   }

   .right {
       background: #fff;
       width: 350px;
       transition: width 1s;
       border-style: solid;
       border-color: #ccc;
       border-width: 1px;
   }

   .left-state-hover{
     width: 250px;
     z-index: 1;
   }

   .item:hover {
       background-color: #222;
   }

   .left .fas {
       margin: 15px;
       width: 20px;
       color: #fff;
   }

   i.fas {
       font-size: 17px;
       vertical-align: middle !important;
   }

   .item {
       height: 50px;
       overflow: hidden;
       color: #fff;
   }

.menuOpener{
    position: absolute;
    bottom:1px;
    cursor: pointer;
    right: 0;
}
