<div ng-controller="loginController">
	<div class="container">
		<div class="login-form">
			<div class="main-div">
    			<div class="panel">
					<h2>Forgot Password</h2>
					<p>Please enter your email</p>
				</div>
				<span class="text-danger"> {{errorMsg}} </span>
				<form name="forgotPasswordForm" id="forgotPasswordForm">
					<div class="form-group">
						<input type="email" ng-model="user['email']" class="form-control"
							   id="inputEmail" placeholder="Email Address"/>
					</div>
					<span class="text-success"> {{successMsg}} </span>
					<button type="submit" class="btn btn-primary" ng-click="forgotPassword()">Send Verfication Link</button>
				</form>
			</div>
		</div>
	</div>
</div>
