<div ng-controller="loginController">
	<div class="container">
		<div class="login-form">
			<div class="main-div">
    			<div class="panel">
					<h2>Reset Password</h2>
					<p>Please enter your email</p>
				</div>
				<span class="text-danger"> {{errorMsg}} </span>
				<form name="resetPasswordForm" id="resetPasswordForm">
					<div class="form-group">
						<input type="password" ng-model="user['password']" class="form-control"
							    placeholder="New Password"/>
					</div>
					<div class="form-group">
						<input type="password" ng-model="user['confirmPassword']" class="form-control"
							   placeholder="Confirm Password"/>
					</div>
					<span class="text-success"> {{successMsg}} </span>
					<button type="submit" class="btn btn-primary" ng-click="resetPassword()">Confirm</button>
				</form>
			</div>
		</div>
	</div>
</div>
