<div id="leftMenu" class="leftMenu">
  <div class="left">
      <div class="item" ng-click="resetToHome()">
          <i class="fas fa-fw fa-home"></i>
      </div>
      <div ng-repeat="module in userModules" class="item active" 
            ng-click="switchMenu('{{module.name}}')" 
            ng-mouseenter="openThisMenu($event)"
            ng-mouseleave="closeThisMenu($event)">
          <i class="{{module.icon}}"></i> {{module.displayText}}
      </div>
      <div class="menuOpener" ng-click="toggleMenu()">
        <i class="fas fa-fw fa-expand"></i>
      </div>
    </div>
</div>
