<div id="leftMenu" class="leftMenu">
  <div class="left">
      <div class="item" ng-click="resetToHome()">
          <i class="fas fa-fw fa-home"></i>
      </div>
      <div class="item active" 
            ng-click="switchMenu('map')" 
            ng-mouseenter="openThisMenu($event)"
            ng-mouseleave="closeThisMenu($event)">
          <i class="fas fa-fw fa-map-marked-alt"></i> Map
      </div>
      <div class="item" 
            ng-click="switchMenu('columns')"
            ng-mouseenter="openThisMenu($event)"
            ng-mouseleave="closeThisMenu($event)">
          <i class="fas fa-fw fa-columns"></i> Split
      </div>
      <div class="item" 
            ng-click="switchMenu('grid')"
            ng-mouseenter="openThisMenu($event)"
            ng-mouseleave="closeThisMenu($event)">
          <i class="fas fa-fw fa-th"></i> Grid
      </div>
      <div class="item" 
            ng-click="switchMenu('users')"
            ng-mouseenter="openThisMenu($event)"
            ng-mouseleave="closeThisMenu($event)">
          <i class="fas fa-fw fa-user-circle"></i> Users
      </div>
      <div class="menuOpener" ng-click="toggleMenu()">
        <i class="fas fa-fw fa-expand"></i>
      </div>
    </div>
</div>
